In [1]:
import os
from utils import corr_mat

In [2]:
'''
On cr√©e un dict de dict dans ce format :

{ index_name : {type : path} }
exemple : \
    {'AIR.PA': {'trade': 'TRTH/raw/trade/AIR.PA', 'bbo': 'TRTH/raw/bbo/AIR.PA'},
 'VIE.PA': {'trade': 'TRTH/raw/trade/VIE.PA', 'bbo': 'TRTH/raw/bbo/VIE.PA'}}
 
'''


parent_dir = 'TRTH/raw'
index_to_files = {}
# Iterate over directories
for entry in os.listdir(parent_dir):
    entry_path = os.path.join(parent_dir, entry)
    if os.path.isdir(entry_path):
        for entry2 in os.listdir(entry_path):
            dir2 = os.path.join(entry_path, entry2)
            if os.path.isdir(dir2):
                idx = dir2.split('/')[-1]
                type = dir2.split('/')[-2]
                if idx in index_to_files:
                    index_to_files[idx][type] = dir2
                else:
                    index_to_files[idx] = {type : dir2}

In [3]:
import pandas as pd
pd.read_csv('/Users/adamzinebi/PycharmProjects/FinBigDataClustering/TRTH/raw/bbo/AIR.PA/2005-06-30-AIR.PA-bbo.csv.gz',compression='gzip')

          xltime  bid-price  bid-volume  ask-price  ask-volume
0   38533.167134        NaN         NaN      13.48         110
1   38533.230865        NaN         NaN      13.39         100
2   38533.232743      13.50       780.0      13.50        1710
3   38533.261695      13.50       780.0      13.50        2037
4   38533.262193      13.45       780.0      13.45         827
5   38533.276456      13.45       780.0      13.45         977
6   38533.284678      13.40       780.0      13.40        1650
7   38533.286152      13.40       780.0      13.40        2650
8   38533.287994      13.40       780.0      13.40        4020
9   38533.291544      13.39       780.0      13.39         950
10  38533.291922      13.20       250.0      13.39         170
11  38533.302509      13.21       210.0      13.39         170
12  38533.303893      13.21       210.0      13.39         675
13  38533.322749      13.21       210.0      13.38         100
14  38533.334846      13.22        50.0      13.38         100
15  38533.348690      13.22        50.0      13.38          50
16  38533.362842      13.22        50.0      13.35         327
17  38533.367699      13.22        50.0      13.35         127
18  38533.369746      13.20       250.0      13.22         100
19  38533.374041      13.10       732.0      13.22         100
20  38533.379013      13.15       300.0      13.22         100
21  38533.381594      13.16        50.0      13.22         100
22  38533.389753      13.16        50.0      13.20          50
23  38533.391530      13.20       950.0      13.22         100
24  38533.396072      13.20       950.0      13.22          55
25  38533.401533      13.20       450.0      13.22          55
26  38533.401535      13.10       732.0      13.22          55
27  38533.411252      13.22        45.0      13.34          50
28  38533.429627      13.22        45.0      13.35          77
29  38533.463440      13.22        45.0      13.34         635
30  38533.493539      13.22        45.0      13.30         500
31  38533.506275      13.22        45.0      13.28         400
32  38533.507162      12.93       212.0      13.28         400
33  38533.523968      12.93       212.0      12.94         100
34  38533.525873      12.93       212.0      13.28         400
35  38533.530349      12.93       222.0      13.28         400
36  38533.536947      12.93       212.0      13.28         400
37  38533.545753      12.95       120.0      13.28         400
38  38533.546391      12.93       132.0      13.28         400
39  38533.549721      12.93       132.0      13.25         213
40  38533.567052      12.94       200.0      13.25         213
41  38533.570445      12.80       160.0      12.90         214
42  38533.571271      12.90        86.0      13.25         213
43  38533.578120      12.90       206.0      13.25         213
44  38533.586120      12.90       206.0      13.25         413
45  38533.591790      12.90       206.0      13.25         313
46  38533.595314      12.90       206.0      13.25         297
47  38533.596019      12.90       206.0      13.25         197
48  38533.596349      12.90       206.0      13.20         495
49  38533.596554      12.90       206.0      13.20         595
50  38533.598176      12.91       200.0      13.20         595
51  38533.598817      12.97       150.0      13.20         595
52  38533.603990      12.97       150.0      13.20         395
53  38533.616117      12.98       100.0      13.20         395
54  38533.619089      13.00       200.0      13.20         395
55  38533.626602      13.00       200.0      13.19         148
56  38533.628815      13.00       200.0      13.18          50
57  38533.636689      12.97       150.0      13.00         110
58  38533.642102      12.97       150.0      13.00         213

In [4]:
pd.read_csv('/Users/adamzinebi/PycharmProjects/FinBigDataClustering/TRTH/raw/trade/AIR.PA/2005-06-30-AIR.PA-trade.csv.gz',compression='gzip')

,xltime,trade-price,trade-volume,trade-stringflag,trade-rawflag
0,38533.232742,13.50,0,theoricalprice,[GEN ]Open ...
1,38533.262192,13.45,0,uncategorized,[GEN ]Open
2,38533.284678,13.40,0,uncategorized,[GEN ]Open
3,38533.291544,13.39,0,uncategorized,[GEN ]Open
4,38533.291922,13.39,780,uncategorized,[EURONEXT ]A ...
5,38533.348690,13.38,50,uncategorized,[GEN ]Low
6,38533.367698,13.35,200,uncategorized,[GEN ]Low
7,38533.369746,13.22,50,uncategorized,[GEN ]Low
8,38533.374041,13.20,250,uncategorized,[GEN ]Low
9,38533.374041,13.10,250,uncategorized,[GEN ]Low
10,38533.391529,13.20,50,uncategorized,NaN
11,38533.396071,13.22,45,uncategorized,NaN
12,38533.401533,13.20,500,uncategorized,NaN
13,38533.401534,13.20,450,uncategorized,NaN
14,38533.401534,13.16,50,uncategorized,NaN
15,38533.411252,13.22,55,uncategorized,NaN
16,38533.429627,13.34,50,uncategorized,NaN
17,38533.429627,13.35,50,uncategorized,NaN
18,38533.507161,13.22,45,uncategorized,NaN
19,38533.507161,13.10,12,uncategorized,NaN
20,38533.507161,13.10,720,uncategorized,NaN
21,38533.507161,13.00,200,uncategorized,[GEN ]Low
22,38533.507161,12.96,398,uncategorized,[GEN ]Low
23,38533.507162,12.96,102,uncategorized,NaN
24,38533.507162,12.95,130,uncategorized,[GEN ]Low
25,38533.507162,12.93,18,uncategorized,[GEN ]Low
26,38533.525872,12.94,100,uncategorized,NaN
27,38533.546391,12.95,120,uncategorized,NaN
28,38533.546391,12.93,80,uncategorized,NaN
29,38533.570444,12.94,200,uncategorized,NaN
30,38533.570444,12.93,132,uncategorized,NaN
31,38533.570444,12.92,54,uncategorized,[GEN ]Low
32,38533.570444,12.90,200,uncategorized,[GEN ]Low
33,38533.570445,12.90,200,uncategorized,NaN
34,38533.571271,12.90,214,uncategorized,NaN
35,38533.595314,13.25,16,uncategorized,NaN
36,38533.596019,13.25,100,uncategorized,NaN
37,38533.603990,13.20,200,uncategorized,NaN
38,38533.636689,13.00,200,uncategorized,NaN
39,38533.642102,13.00,110,uncategorized,NaN

In [7]:
# On met en parametre, le index to file, le start date, le end date et le time interval

start_date = '2005-06-30 00:00:00'
end_date = '2005-06-30 23:59:00'
time_interval = '2H'
corr_mat(index_to_files,start_date, end_date,time_interval)

                         bid-price  bid-volume  ask-price  ask-volume  \
normal_date
2005-06-30 04:00:40.357        NaN         NaN      13.48       110.0
2005-06-30 05:32:26.750        NaN         NaN      13.39       100.0
2005-06-30 05:35:08.937        NaN         NaN        NaN         NaN
2005-06-30 05:35:09.037      13.50       780.0      13.50      1710.0
2005-06-30 06:16:50.435      13.50       780.0      13.50      2037.0
...                            ...         ...        ...         ...
2005-06-30 15:02:18.427      13.00       200.0      13.19       148.0
2005-06-30 15:05:29.589      13.00       200.0      13.18        50.0
2005-06-30 15:16:49.929      12.97       150.0      13.00       110.0
2005-06-30 15:24:37.579        NaN         NaN        NaN         NaN
2005-06-30 15:24:37.634      12.97       150.0      13.00       213.0

                         trade-price  trade-volume
normal_date
2005-06-30 04:00:40.357          NaN           NaN
2005-06-30 05:32:26.750          NaN           NaN
2005-06-30 05:35:08.937         13.5           0.0
2005-06-30 05:35:09.037          NaN           NaN
2005-06-30 06:16:50.435          NaN           NaN
...                              ...           ...
2005-06-30 15:02:18.427          NaN           NaN
2005-06-30 15:05:29.589          NaN           NaN
2005-06-30 15:16:49.929         13.0         200.0
2005-06-30 15:24:37.579         13.0         110.0
2005-06-30 15:24:37.634          NaN           NaN

[83 rows x 6 columns]
                       ŒîPrice    ŒîVolume   ŒîSpread   ŒîVolImb
2005-06-30 00:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 02:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 04:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 06:00:00 -0.006852   0.000000  0.000000 -0.229130
2005-06-30 08:00:00 -0.013781   1.500000  0.334259 -1.369363
2005-06-30 10:00:00  0.009247  -0.948718  0.316794 -2.047017
2005-06-30 12:00:00 -0.027924  28.250000  1.516304 -0.445672
2005-06-30 14:00:00  0.012923  -0.785983 -0.170626  0.071438
2005-06-30 16:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 18:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 20:00:00  0.000000   0.000000  0.000000  0.000000
2005-06-30 22:00:00  0.000000   0.000000  0.000000  0.000000
                            bid-price  bid-volume  ask-price  ask-volume  \
normal_date
2005-06-30 04:00:42.310000      30.75        50.0      30.95        59.0
2005-06-30 05:15:09.917000      30.70       590.0      30.70       400.0
2005-06-30 05:15:10.592000      30.70       590.0      30.70       423.0
2005-06-30 05:15:16.532000      30.70       590.0      30.70       455.0
2005-06-30 05:15:18.372000      30.70       590.0      30.70       512.0
...                               ...         ...        ...         ...
2005-06-30 15:34:23.229000      31.07       309.0      31.11     69727.0
2005-06-30 15:35:32.976000        NaN         NaN        NaN         NaN
2005-06-30 15:35:33.076999      31.06      9043.0      31.07       191.0
2005-06-30 15:38:30.308000      31.06      9043.0      31.11     69727.0
2005-06-30 15:39:21.245000      31.06      9043.0      31.07      1336.0

                            trade-price  trade-volume
normal_date
2005-06-30 04:00:42.310000          NaN           NaN
2005-06-30 05:15:09.917000        30.70           0.0
2005-06-30 05:15:10.592000          NaN           NaN
2005-06-30 05:15:16.532000          NaN           NaN
2005-06-30 05:15:18.372000          NaN           NaN
...                                 ...           ...
2005-06-30 15:34:23.229000        31.07         691.0
2005-06-30 15:35:32.976000        31.07         309.0
2005-06-30 15:35:33.076999          NaN           NaN
2005-06-30 15:38:30.308000          NaN           NaN
2005-06-30 15:39:21.245000          NaN           NaN

[6203 rows x 6 columns]
                       ŒîPrice   ŒîVolume   ŒîSpread   ŒîVolImb
2005-06-30 00:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 02:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 04:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 06:00:00  0.002662  0.000000  5.483359 -4.669574
2005-06-30 08:00:00  0.003649  0.799955 -0.578238  3.405838
2005-06-30 10:00:00  0.000622 -0.463073 -0.169398 -0.803829
2005-06-30 12:00:00  0.004414  1.721708  0.107632 -2.063236
2005-06-30 14:00:00  0.002639  0.622379 -0.355405 -5.139725
2005-06-30 16:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 18:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 20:00:00  0.000000  0.000000  0.000000  0.000000
2005-06-30 22:00:00  0.000000  0.000000  0.000000  0.000000

/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['normal_date'] = pd.to_datetime(df1['normal_date'])
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['normal_date'] = pd.to_datetime(df2['normal_date'])
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:61: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_resampled = df.resample(time_interval).agg({
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:67: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_index = pd.date_range(start=start_date, end=end_date, freq=time_interval)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:71: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîPrice'] = df_resampled['trade-price'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:72: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîVolume'] = df_resampled['trade-volume'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:73: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîSpread'] = df_resampled['spread'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:74: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîVolImb'] = df_resampled['volume_imbalance'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['normal_date'] = pd.to_datetime(df1['normal_date'])
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['normal_date'] = pd.to_datetime(df2['normal_date'])
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:61: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_resampled = df.resample(time_interval).agg({
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:67: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_index = pd.date_range(start=start_date, end=end_date, freq=time_interval)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:71: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîPrice'] = df_resampled['trade-price'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:72: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîVolume'] = df_resampled['trade-volume'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:73: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîSpread'] = df_resampled['spread'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)
/Users/adamzinebi/PycharmProjects/FinBigDataClustering/utils.py:74: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_resampled['ŒîVolImb'] = df_resampled['volume_imbalance'].pct_change().replace([np.inf, -np.inf], np.nan).fillna(0)

,2005-06-30 00:00:00,2005-06-30 02:00:00,2005-06-30 04:00:00,2005-06-30 06:00:00,2005-06-30 08:00:00,2005-06-30 10:00:00,2005-06-30 12:00:00,2005-06-30 14:00:00,2005-06-30 16:00:00,2005-06-30 18:00:00,2005-06-30 20:00:00,2005-06-30 22:00:00
2005-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 06:00:00,NaN,NaN,NaN,1.000000,-0.689396,0.250145,0.043056,0.643528,NaN,NaN,NaN,NaN
2005-06-30 08:00:00,NaN,NaN,NaN,-0.689396,1.000000,0.074582,0.225671,-0.818006,NaN,NaN,NaN,NaN
2005-06-30 10:00:00,NaN,NaN,NaN,0.250145,0.074582,1.000000,-0.182720,0.155585,NaN,NaN,NaN,NaN
2005-06-30 12:00:00,NaN,NaN,NaN,0.043056,0.225671,-0.182720,1.000000,0.077944,NaN,NaN,NaN,NaN
2005-06-30 14:00:00,NaN,NaN,NaN,0.643528,-0.818006,0.155585,0.077944,1.000000,NaN,NaN,NaN,NaN
2005-06-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN